.wrapper-menu {
    margin: 27px 0 0 37px;
    align-items: center;
}

.btn-back {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 27px;
    color: #724C21;


}

.img-logo {
    width: 72px;
    height: 72px;
    margin-right: 27px;

}

.player {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 50px;

    color: #000000;
}

.img-batu {
    width: 128px;
    height: 92px;
    /* margin-bottom: 81px; */
}

.img-kertas {
    width: 115px;
    height: 150px;
}

.img-gunting {
    width: 134px;
    height: 160px;

}

.card-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;


    color: #BD0000;


}

.img-wrapper-pilihan {
    width: 223px;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 81px;

}

.pilihan {
    /* padding: 22px 44px; */
    background: #C4C4C4;
    border-radius: 30px;

}

.draw {
    background: #035B0C !important;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    width: 271.11px;
    height: 166.93px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.draw>p,
.winner-wrapper>p {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.winner-wrapper {
    background: #4C9654;
    border-radius: 10px;
    transform: rotate(-28.87deg);
    width: 271.11px;
    height: 166.93px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* old  */